<?xml version="1.0" ?>
<model>
    <name>camera_hull</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Jonas Moreira</name>
        <email>jonas.barbosa@ufam.edu.br</email>
    </author>
    <description>A simple camera hull model for Gazebo.</description>
</model>
